<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <div class="item">
            <p id="text"></p>
        </div>

        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
            <button type="submit" name="list" id="button" onclick="loadDoc">+</button>
        </form>
    </div>

    <script>
        function loadDoc() {
        
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                items = JSON.parse(this.response)
                document.getElementById("text").innerHTML = function(){

                    for(var i= 0, i <items.length, i++){
                        task_el = document.createElement('div').classList.add('item');
                        document.createElement('p')
                        document.querySelector('p')= items[i]
                };
            }
            }
            xhttp.open("GET", "/data", true);
            xhttp.send();
        }
    </script>


</body>

<%- include("footer") -%>